.container{
    max-width: 1400px;
}


body{
    background-image: url("rainbow-vortex.svg") ;
    background-repeat: no-repeat;
    background-size: cover;

}

//! Navbar
.nav-link, .navbar-brand{
    font-weight: bold;
}


//! Slider carousel
.carousel-item{
    max-height: calc(100vh - 50px);
    height: 100vh;
    position: relative;
    img{
    
          
            width: 100%;

            object-fit: cover;
            object-position: center;
            height: 100vh;
            overflow: hidden;

    }
    .slide-content{
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%,-50%);
        .carousel-text{
            text-shadow: 1px 2px 1px #000;
            font-weight: 500;
        }
    }
}


//!shopping list 
.shopping-list{
    // height: 200vh;


    .products{
        width: 65%;
        .products-men{
            max-width: 95%;
         margin: 0 auto;
        }
    }


}
.shopping-cart{

background-image: url("scattered-forcefields.svg");


    width: 35%;
    padding-top:5rem;
    // padding-bottom: 10rem;
;
grid-template-rows: 10vh 10vh  55vh 25vh ;

.cart-item{
    .cart-img{
        width: 75px;
        height: 75px;
        
        object-fit: cover;
    }
}


}
.shopping-bag {
    display: inline;
    padding: 10px 5px;
    font-size: 2rem;

  }
  .shopping-bag div {
    display:flex;
    align-items: center;
    font-weight: 900;
    justify-content: center;
  }
 
  .shopping-bag .total-itemCart {
    margin-left: 10px;
    padding: 5px;
   
    border-radius: 5px;
  }
  




  //!products



  
  .products{


    .card{
        display:grid !important;
        grid-template-rows: 50% 50% !important;
     
    }
  }

  @media (max-width:567px) {
    .products{


        .card{
            display:grid !important;
            grid-template-rows: auto auto !important;
         
        }
      }
  }
  @media (min-width:568px)  {
    .products{


        .card{
            display:grid !important;
            grid-template-rows: auto max-content  !important;
         
        }
      }
  }

