.container {
  max-width: 1400px;
}

body {
  background-color: #FEFFC8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(29,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(155,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='7.589999999999999'%3E%3Cpath transform='translate(-178.85 19.599999999999998) rotate(6.550000000000001 1409 581) scale(0.963082)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.53' transform='translate(-182 125) rotate(18.5 800 450) scale(1.024164)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(51.699999999999996 -204) rotate(166 401 736) scale(1.024164)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.3'%3E%3Cpath transform='translate(750 -11.999999999999996) rotate(2.999999999999999 150 345) scale(0.947694)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='5.06' transform='translate(-291 -331.5) rotate(176.39999999999998 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-537.2 158.8) rotate(29.400000000000002 1400 132) scale(0.81)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link, .navbar-brand {
  font-weight: bold;
}

.carousel-item {
  max-height: calc(100vh - 50px);
  height: 100vh;
  position: relative;
}
.carousel-item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}
.carousel-item .slide-content {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.carousel-item .slide-content .carousel-text {
  text-shadow: 1px 2px 1px #000;
  font-weight: 500;
}

.shopping-list .products {
  width: 65%;
}
.shopping-list .products .products-men {
  max-width: 95%;
  margin: 0 auto;
}

.shopping-cart {
  background-image: url("/img/scattered-forcefields.svg");
  width: 35%;
  padding-top: 5rem;
  grid-template-rows: 10vh 10vh 55vh 25vh;
}
.shopping-cart .cart-item .cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.shopping-bag {
  display: inline;
  padding: 10px 5px;
  font-size: 2rem;
}

.shopping-bag div {
  display: flex;
  align-items: center;
  font-weight: 900;
  justify-content: center;
}

.shopping-bag .total-itemCart {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.products .card {
  display: grid !important;
  grid-template-rows: 50% 50% !important;
}

@media (max-width: 567px) {
  .products .card {
    display: grid !important;
    grid-template-rows: auto auto !important;
  }
}
@media (min-width: 568px) {
  .products .card {
    display: grid !important;
    grid-template-rows: auto max-content !important;
  }
}

/*# sourceMappingURL=app.css.map */
